

<ion-grid fixed>
    <ion-row>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="5"
                 *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </ion-col>
    </ion-row>
</ion-grid>

6