
<div class="post">

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="/assets/avatars/{{ post.usuario.avatar }}">
    </ion-avatar>

    <ion-label>
      <h3>{{ post.usuario.nickname }}</h3>
    </ion-label>
  </ion-item>


  <!-- ngIf imgs.... -->
  <ion-slides pager="true" *ngIf="post.imgs.length > 1">

    <ion-slide *ngFor="let img of post.imgs"
               class="image-slide"
               [style]=" (img | imagen: post.usuario._id ) | domSanitizer ">
    </ion-slide>

  </ion-slides>

  <ion-slides *ngIf="post.imgs.length === 1" [options]="slideSoloOpts">

    <ion-slide class="image-slide"
               [style]=" (post.imgs[0] | imagen: post.usuario._id ) | domSanitizer ">
    </ion-slide>

  </ion-slides>

  <!-- mapa -->
  <app-mapa [coords]="post.coords" *ngIf="post.coords"></app-mapa>

  <ion-item lines="none">
    <ion-label text-wrap>
        {{ post.mensaje }}
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" name="heart-outline" (click)="like()"></ion-icon>
    <ion-icon slot="end" name="bookmark"></ion-icon>
  </ion-item>



</div>


