<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>


    <ion-title>
      FotosGram
    </ion-title>
    <!-- <ion-searchbar class="w-35 f-right" autocomplete="nickname"></ion-searchbar>
    <ion-content fullscreen>
      <ion-list>
        iterar sobre objeto user buscando por nickname
      </ion-list>
    </ion-content>-->
  </ion-toolbar>
</ion-header>

<ion-content color="light">
   
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Posts -->
  <app-posts [posts]="posts"></app-posts>

  
  <!-- Infinite Scroll -->

  <ion-infinite-scroll  [disabled]="!habilitado"
                        threshold="150px"
                        (ionInfinite)="siguientes($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
